@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@font-face {
	font-family: "clock";
	src: url('../DS-DIGIB.TTF');
}

*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #E2E2E2;

}
input {
    border-radius: 30px;
    outline-style: none;
    border: none;
    border-radius: 50px;
    border-radius: 28px;
    background: #e0e0e0;
    box-shadow:  25px 25px 50px #656565,
    -25px -25px 50px #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'clock', cursive;
    width: 60px;
    height: 80px;
    color: #222222;
    text-align: center;
    font-size: 40px;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}
div.choose {
    display: flex;
    justify-content: center;
    height: 80px;
    max-width: 500px;
    align-items: center;
}
p.dp {
    font-size: 60px;
    font-weight: bold;
    color: rgb(235, 235, 235);
}

.btn {
    outline-style: none;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background: #e0e0e0;
    box-shadow:  25px 25px 50px #656565,
    -25px -25px 50px #ffffff;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    font-family: 'MuseoModerno', cursive;
}
.btnStop {
    outline-style: none;
    width: 100px;
    height: 50px;  
    border: none;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: inset 13px 13px 26px #747474,
            inset -13px -13px 26px #ffffff;
    margin-top: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: 'MuseoModerno', cursive;
}
.allbtn {
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    
}
.reset {
    outline-style: none;
    width: 100px;
    height: 50px;
    margin-top: 50px;
    border-radius: 20px;
    border: none;
    background: #e0e0e0;
    box-shadow:  25px 25px 50px #656565,
    -25px -25px 50px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MuseoModerno', cursive;
}
.agrandir {
    position: absolute;
}
.fa-expand{
    position: absolute;
    margin-top: 140px;
    transform: translateX(200px);
    font-size:  30px;
    color: #222222;

}
.reprendre {
    outline-style: none;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:  25px 25px 50px #656565,
                 -25px -25px 50px #ffffff;
    margin-top: 50px;
    font-family: 'MuseoModerno', cursive;
    display: none;
    justify-content: center;
    align-items: center
}
.grand{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    background-color: white;
    color: black;
}
.choose:fullscreen input{
    border-radius: 60px;
    width: 120px;
    height: 160px;
    font-size: 80px;
}
.choose:fullscreen {
    width: 100%;
    height: 100%;
    background-color: #E2E2E2;

}
.enfonce {
    box-shadow: inset 13px 13px 26px #747474,
        inset -13px -13px 26px #ffffff;
}
