@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(66, 66, 66);

}
input {
    border-radius: 30px;
    outline-style: none;
    background-color: black;
    border: solid orangered;
    background-color: none;
    font-size: 40px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Original Surfer', cursive;
    width: 60px;
    height: 80px;
    color: white;
    text-align: center;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}
div.choose {
    display: flex;
    justify-content: center;
    height: 80px;
    max-width: 500px;
    align-items: center;
}
p.dp {
    font-size: 60px;
    font-weight: bold;
    color: orangered;
}

.btn {
    outline-style: none;
    width: 100px;
    height: 50px;
    box-shadow: 0 0 1rem #FFF;
    border: black;
    background-color: orange;
    margin-top: 50px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    animation: Lancer 5s linear infinite;
    transition:width 0.5s, height 0.5s;
}
.btn:hover {
    width: 110px;
    height: 60px;
    box-shadow: -0rem -0rem 1rem #fff;
}

@keyframes Lancer {
 25% {background-color: red;}
    50% {background-color: orange;}
    75% {background-color: yellow;}
}
.btnStop {
    outline-style: none;
    width: 100px;
    height: 50px;
    box-shadow: 0 0 1rem #FFF;
    border: black;
    background-color: orange;
    margin-top: 50px;
    border-radius: 50px;
    animation: Lancer 5s linear infinite;
    transition:width 0.5s, height 0.5s;
    display: none;
    justify-content: center;
    align-items: center;
}
.allbtn {
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    
}
.reset {
    outline-style: none;
    width: 100px;
    height: 50px;
    box-shadow: 0 0 1rem #FFF;
    border: black;
    background-color: orange;
    margin-top: 50px;
    border-radius: 50px;
    animation: Lancer 5s linear infinite;
    transition:width 0.5s, height 0.5s;
    display: none;
    justify-content: center;
    align-items: center;
}
.barrefond {
    width: 400px;
    height: 35px;
    margin-top: 75px;
    background-color: grey;
    border-radius: 25px;
    overflow: hidden;
}
.barrevert {
    width: 0px;
    height: 35px;
    background-color: orangered;
    border-radius: 25px; 
    z-index: 1000; 
} 
@keyframes defil {
    100% {
        width: 400px;
    }
}
